{% extends 'base.html' %}

{% block title %}Cheese: {{ cheese.name }}{% endblock title %}

{% block content %}

    <h2>{{ cheese.name }}</h2>
    
    {% if cheese.firmness %}
        <p>Firmness: {{cheese.get_firmness_display }}</p>
    {% endif %}

    {% if cheese.description %}
       <p>{{ cheese.description }}</p>
    {% endif %}

    
{% endblock content %}
